
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /*sends video to the background, no interaction */
}
.main-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
  .content {
    flex: 1; 
    padding: 20px;
    background-color: #f0f0f0;
  }

  .container {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }

  .container > h1 {
    color: #ddff00;
    font-size: 100px;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    top: 25%;
  }

  .newsFeed{
    margin-left:310px;
    font-size: 30px;
    display:flex;
    align-items: left;
  }
.newsText{
  font-size:30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: left;
  justify-content: left;
  color:white;
}
  .dot{
    width:30px;
    height:30px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:2px;
  }

  .dot::before{
    content:'';
    position:absolute;
    width:50%;
    height:50%;
    background-color: red;
    border-radius: 50%;

  }
  
  .dot::after{
    content:'';
    position:absolute;
    width:50%;
    height:50%;
    background-color: red;
    animation:animate ease-in 1s infinite;
    border-radius: 50%;

  }

  @keyframes animate{
    from
    {
        opacity: 0.8;
    }
    to
    {
        opacity: 0;
        width:100%;
        height:100%;
    }
  }

  
  .input-field {
    padding: 10px;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    font-size: 16px;
    width: 40%; 
  }

  .info-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 5px;
  }
  
  .info-box {
    background-color: #f4f4f4;
    border-left: 5px solid #1A1A1A;
    padding: 15px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .info-box h3 {
    margin: 0;
    font-size: 18px;
    color: #1A1A1A;
  }
  
  .info-box p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #333;
  }
  
  .info-box:hover {
    transform: scale(1.05);
  }
  

  .tutorial-button{
    display: flex;
    justify-content: center; 
    margin-top: 225px;
    margin-right: -200px;

  }

  .registerToday-button{
    display: flex;
    justify-content: center; 
    margin-top: -60px;
    margin-left  : 500px;
    width : 200px;
    color: black;
  }


  .moving-text {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 50px;
    color: #000000;
    white-space: nowrap; 
  }

 