.profilepage-main-container{
  font-family: Arial, Helvetica, sans-serif;
}

.profilepage-title-card{
  position: absolute;
  margin-left: 15%;
  z-index: 1;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.profilepage-upperMenubar-container{
  width: 86.3%;
  height: 15vh;
  background: gray;
  position: absolute;
  margin-left: 13.2%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  /* border-color: black;
  border-style: solid;
  border-width: 5px; */
}

.upper-menubar {
  display: flex;
  gap: 200px; /* Space between buttons */
  margin-top: 7%;
  margin-right: 50%;
}

.profilepage-menu-item {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #444;
}

.profilepage-name-date-container{
  width: 25%;
  height: 40vh;
  background: rgb(236, 235, 235);
  position: absolute;
  margin-left: 13.2%;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  margin-top: 8.2%;
}

.profilepage-name-date-info-container{
  position: absolute;
  margin-top: -35%;
  margin-left: 40%;
  font-size: 40px;
}

.profilepage-name-date-aboutme-container{
  position: absolute;
  font-size: 35px;

}

.profilepage-achievements-container{
  width: 25%;
  height: 46.2vh;
  background: rgb(236, 235, 235);
  position: absolute;
  margin-left: 13.2%;
  margin-top: 27.8%;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
}

.profilepage-roster-info-container{
  width: 61.3%;
  height: 60vh;
  background: rgb(236, 235, 235);
  position: absolute;
  margin-left: 38.4%;
  margin-top: 8.2%;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
}


.profilepage-extra-container{
  position: absolute;
  width: 61.3%;
  height: 26.1vh;
  background: rgb(236, 235, 235);
  margin-left: 38.4%;
  margin-top: 37.6%;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
}


.profilepage-logout-container{
    position: absolute;
    top:6%;
    left: 95%;
  }

  .Logout-title{
    line-height: 10px;  
    font-weight: bold;  
    font-size: 20px;
  }
  .button-49,
.button-49:after {    
  text-align: center;
  width: 150px;
  height: 76px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #eb0000 5%);
  border: 0;
  color: #ffd208;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'DONT GO';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 50px;
    line-height: 88px;
  }
}
