.goldenState-container {
  background-image: url("goldenstate.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}
.goldenS-wrapper{
  width:20%;
  background: #FFC72C;
  padding: 2rem;
  border-radius: 15px;
  height:91vh;
  width:80%;
  margin-left: -5px;
  margin-top: -7px;
}
.goldenS-h1{
  color: #1D428A;
  font-size: 1.1rem;
  font-family: sans-serif;
}
.sessions{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
.goldenS-times{
  font-weight: bold;
  padding-bottom: 1.5rem;
  border-left: 1px solid #1D428A;
  position: relative;
  padding-left: 20px;
  margin-left: 0px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  /*
  war blue: #1D428A
  war gold: #FFC72C*/
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: #1D428A;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #963821;
    box-shadow: 3px 3px 0px white;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}
.goldenS-time{
  color: #1D428A;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}
.goldenS-p{
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
}