.profile-grid-main-container{
  display: grid;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  padding: 40px;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.profile-name-container{
  background: rgb(202, 202, 202);
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.first-section{
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.profile-template-container {
  background: grey;
}

.profile-roster-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
  /* gap: 20px; */
  background: rgb(219, 215, 215);
}

.profile-goTo-rosterButton{
  display: flex;
  margin-left: 60%;
  margin-top: -3%;
  position:absolute;
  
}

.profile-upcoming-games{
  background: rgb(219, 215, 215);
}


.profile-leagues-container{
  background: rgb(202, 202, 202);
}


